In [ ]:
#Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
#Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
#Exercise 10- Insert a markdown cell to list Objectives

**Objectives:**
- Popular Languages in Data Science
- Libraries in Data Science
- tools used by Data Scientist
- Arithmetic expressions

In [ ]:
#Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Java
2. Python
3. C++

In [ ]:
#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas
4. Plotly

#Exercise 6 - Create a markdown cell to list data science tools

| Data Science Tools. |
|---------------------|
|  Apache Spark       |
| Jupiter Notebook    |
| Tensorflow          |
| Tableau             |

In [ ]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#Exercise 8:Create a code cell to multiply and add numbers

In [5]:
print("This a simple arithmetic expression to mutiply then add integers")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [ ]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [6]:
print("This will convert 200 minutes to hours by diving by 60")
200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

In [ ]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Jacqueline Ivette Torres